
<mat-card>


    <div class="d-flex justify-content-between">


        <h3>Tramite</h3>
        <button (click)="openDialogCreate()" type="button" class="btn btn-primary">Nuevo</button>

    </div>


    <table class="table">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Asunto</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.razonSocial }}</td>
                <td>{{ item.asunto }}</td>

            </tr>
        </tbody>

    </table>

    
</mat-card>
